include ../includes/header
include ../includes/footer








//doctype html5
//html
//	head
//		title Node Authentication
//		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
//		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
//	body
//		.container
//			h1
//				span.fa.fa-lock
//				p Node Authentication
//			p Login or Register with:
//			a.btn.btn-default(href='/login')
//				span.fa.fa-user
//				Local Login
//			a.btn.btn-default(href='/signup')
//				span.fa.fa-user
//				Local Signup*/